:root {
    --primary-color: #FF7B93;
    --map-overlay: linear-gradient(rgba(200, 230, 201, 0.18), rgba(200, 230, 201, 0.18));
    --map-background: url('./bg-selecttor/apachebackground_thai.png');
}

