:root {
    --primary-color: #FFCA4B;
    --map-overlay: linear-gradient(rgba(255, 245, 210, 0.2), rgba(255, 245, 210, 0.2));
    --map-background: url('./bg-selecttor/apachebackground_match.png');
}
