:root {
    --primary-color: #6CD7C8;
    --map-overlay: linear-gradient(rgba(210, 246, 241, 0.18), rgba(210, 246, 241, 0.18));
    --map-background: url('./bg-selecttor/apachebackground_sceince.png');
}
